<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>ONE PIECE</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>订单详情</b></h3></div>
                <div class="layui-card-body" style="height: 411px;">
                    <form class="layui-form" lay-filter="orderQueryForm">
                        <div class="layui-form-item" style="margin: 0;">
                            <div class="layui-input-inline" style="margin: 0;">
                                <div class="layui-inline" style="margin-bottom: 0;">
                                    <input type="text" class="layui-input cursorPointer" id="date"
                                           name="date"
                                           placeholder="请选择日期" readonly>
                                </div>
                            </div>
                            <div class="layui-input-inline" style="margin: 0;">
                                <div class="layui-inline" style="margin-bottom: 0;">
                                    <input type="text" class="layui-input searchInput query-form query" id="name"
                                           name="name"
                                           placeholder="输入微信名或商品名" autocomplete="off">
                                </div>
                            </div>
                            <button type="button" class="layui-btn searchButton"
                                    onclick="queryKeyword()" style="margin-left: -10px;"><i
                                    class="layui-icon">&#xe615;</i>
                            </button>
                            <button type="button" class="layui-btn" onclick="undelivered()"
                                    style="background-color: #d2d2d2;float: right;"><i
                                    class="layui-icon">&#xe609;</i>
                            </button>
                            <button type="button" class="layui-btn layui-btn-normal"
                                    onclick="insertOrder()" style="float: right;"><i
                                    class="layui-icon">&#xe65e;</i>
                            </button>
                        </div>
                    </form>
                    <table id="onePieceTableYearMonth" lay-filter="orderTable"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>收入统计</b></h3></div>
                <div class="layui-card-body" style="height: 411px;">
                    <form class="layui-form" lay-filter="countQueryForm">
                        <div class="layui-form-item" style="margin: 0;">
                            <div class="layui-input-inline" style="margin: 0;">
                                <div class="layui-inline" style="margin-bottom: 0;">
                                    <input type="text" class="layui-input searchInput cursorPointer" id="year"
                                           name="year"
                                           placeholder="请选择年份" readonly>
                                </div>
                            </div>
                            <button type="button" class="layui-btn searchButton" onclick="getCountByYear()"
                                    style="margin-left: -10px;"><i
                                    class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                        <table id="onePieceTableYear"></table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>日收入走势</b></h3></div>
                <div class="layui-card-body" id="onePieceEChartsByYearMonth"></div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>月收入走势</b></h3></div>
                <div class="layui-card-body" id="onePieceEChartsByYear"></div>
            </div>
        </div>
    </div>

    <!--<div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>顾客信息</b></h3></div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md padding0505">
                            <div class="layui-inline onlyFloatRight">
                                <button type="button" class="layui-btn" onclick="insertCustomer()"><i
                                        class="layui-icon">&#xe624;</i>
                                </button>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-inline onlyFloatLeft">
                                    <input type="text" class="layui-input searchInput" id="customerName"
                                           placeholder="输入微信名查询" autocomplete="off">
                                </div>
                                <div class="layui-inline">
                                    <button type="button" class="layui-btn searchButton" onclick="queryCustomer()"><i
                                            class="layui-icon">&#xe615;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div>
                            <table id="customerTable" lay-filter="customerTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card box-shadow">
                <div class="layui-card-header"><h3><b>商品信息</b></h3></div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md padding0505">
                            <div class="layui-inline onlyFloatRight">
                                <button type="button" class="layui-btn" onclick="insertProduct()"><i class="layui-icon">&#xe624;</i>
                                </button>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-inline onlyFloatLeft">
                                    <input type="text" class="layui-input searchInput" id="productName"
                                           placeholder="输入商品名称查询" autocomplete="off">
                                </div>
                                <div class="layui-inline">
                                    <button type="button" class="layui-btn searchButton" onclick="queryProduct()"><i
                                            class="layui-icon">&#xe615;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div>
                            <table id="productTable" lay-filter="productTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>
<script type="text/html" id="operationButton">
    <a class="layui-btn layui-btn-xs" lay-event="delete" style="background-color: #ff660c;"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script src="/layui/layui.all.js"></script>
<script src="/echarts/echarts.js"></script>
<script src="/utils/utils.js"></script>
<script src="/webJS/order.js"></script>
<script src="/webJS/customer.js"></script>
<script src="/webJS/product.js"></script>
<script src="/webJS/common.js"></script>

<#include "orderTemplate.html">
<#include "../customer/customerTemplate.html">
<#include "../product/productTemplate.html">
</body>
</html>