<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwi.hushang_ayi.mapper.OnePieceMapper">

	<!-- 新增恰饭收入数据 -->
	<insert id="insertOnePieceData" parameterType="java.util.Map">
		INSERT INTO one_piece
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="customerName != null and customerName != ''">
				customer_name,
			</if>
			<if test="goodsName != null and goodsName != ''">
				goods_name,
			</if>
			<if test="profit != null and profit != ''">
				profit,
			</if>
			<if test="dateYearMonthDay != null and dateYearMonthDay != ''">
				`date`,
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="customerName != null and customerName != ''">
				#{customerName},
			</if>
			<if test="goodsName != null and goodsName != ''">
				#{goodsName},
			</if>
			<if test="profit != null and profit != ''">
				#{profit},
			</if>
			<if test="dateYearMonthDay != null and dateYearMonthDay != ''">
				#{dateYearMonthDay},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
		</trim>
	</insert>

	<!-- 删除恰饭收入数据 -->
	<delete id="deleteOnePieceTableData" parameterType="java.util.Map">
		<if test="id != null and id != ''">
			UPDATE one_piece SET is_del = 1 WHERE id = #{id}
		</if>
	</delete>

	<!-- 修改恰饭收入数据 -->
	<update id="updateOnePieceTableData" parameterType="java.util.Map">
		UPDATE one_piece
		<trim prefix="SET" suffixOverrides=",">
			<if test="customer_name != null and customer_name != ''">
				customer_name = #{customer_name},
			</if>
			<if test="goods_name != null and goods_name != ''">
				goods_name = #{goods_name},
			</if>
			<if test="profit != null and profit != ''">
				profit = #{profit},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
		</trim>
		WHERE id = #{id}
	</update>

	<!-- 按月份查询恰饭表格所需数据 -->
	<select id="getOnePieceDataByYearMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT id, customer_name, goods_name, profit, `date`, is_deliver
		FROM one_piece
		WHERE is_del = 0
		<if test="dateYearMonth != null and dateYearMonth != ''">
			AND LEFT(`date`, 6) = #{dateYearMonth}
		</if>
		<if test="dateYearMonthDay != null and dateYearMonthDay != ''">
			AND `date` = #{dateYearMonthDay}
		</if>
		<if test="customerName != null and customerName != ''">
			AND customer_name LIKE CONCAT('%', #{customerName}, '%')
		</if>
		<if test="goodsName != null and goodsName != ''">
			AND goods_name LIKE CONCAT('%', #{goodsName}, '%')
		</if>
		<if test="profit != null and profit != ''">
			AND profit = #{profit}
		</if>
		<if test="is_deliver != null">
			AND is_deliver = #{is_deliver}
		</if>
		<choose>
			<when test="is_deliver != null">
				ORDER BY customer_name
			</when>
			<otherwise>
				ORDER BY `date`
			</otherwise>
		</choose>
	</select>

	<!-- 按年份查询恰饭表格所需数据 -->
	<select id="getOnePieceDataByYear" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT SUM(profit) AS profit, LEFT(`date`, 6) AS date
		FROM one_piece
		WHERE is_del = 0
		AND LEFT(`date`, 4) = #{dateYear}
		GROUP BY LEFT(`date`, 6)
		ORDER BY `date`
	</select>

	<!-- 按月份查询恰饭ECharts所需数据 -->
	<select id="getOnePieceEChartsByYearMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(profit) AS profit, `date`
		FROM one_piece
		WHERE is_del = 0
		<if test="dateYearMonth != null and dateYearMonth != ''">
			AND LEFT(`date`, 6) = #{dateYearMonth}
		</if>
		GROUP BY `date`
		ORDER BY `date`
	</select>

	<!-- 按年份查询恰饭收入总和 -->
	<select id="getOnePieceCountByYear" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(profit) AS profit
		FROM one_piece
		WHERE is_del = 0
		<if test="dateYear != null and dateYear != ''">
			AND LEFT(`date`, 4) = #{dateYear}
		</if>
	</select>

	<!-- 按月份查询恰饭收入总和 -->
	<select id="getOnePieceCountByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT IFNULL(SUM(profit), 0) AS profit
		FROM one_piece
		WHERE is_del = 0
		<if test="dateYearMonth != null and dateYearMonth != ''">
			AND LEFT(`date`, 6) = #{dateYearMonth}
		</if>
	</select>

	<!-- 新增姨妈周期数据 -->
	<insert id="insertMenstruationCycleData" parameterType="java.util.Map">
		INSERT INTO menstruation_cycle
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dateYearMonthDayStart != null and dateYearMonthDayStart != ''">
				start_time,
			</if>
		    <if test="dateYearMonthDayEnd != null and dateYearMonthDayEnd != ''">
				end_time,
			</if>
		    <if test="updateTime != null and updateTime != ''">
				update_time,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<if test="dateYearMonthDayStart != null and dateYearMonthDayStart != ''">
				#{dateYearMonthDayStart},
			</if>
			<if test="dateYearMonthDayEnd != null and dateYearMonthDayEnd != ''">
				#{dateYearMonthDayEnd},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
		</trim>
	</insert>

	<!-- 查询姨妈周期表格所需数据 -->
	<select id="getMenstruationCycleTable" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT id, start_time, end_time
		FROM menstruation_cycle
		WHERE is_del = 0
		<if test="dateYear != null and dateYear != ''">
			AND LEFT(start_time, 4) = #{dateYear}
		</if>
		ORDER BY start_time
	</select>

	<!-- 修改是否已发货状态 -->
	<update id="updateOnePieceDeliverState" parameterType="java.util.Map">
		UPDATE one_piece
		<trim prefix="SET" suffixOverrides=",">
				is_deliver = #{is_deliver},
		    <if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
		</trim>
		WHERE
		<if test="id != null and id != ''">
			id = #{id}
		</if>
	</update>

	<!-- 查询参与抽奖顾客信息 -->
	<select id="getLuckDrawData" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			customer_name
		FROM
			one_piece
		<if test="date != null and date != ''">
			WHERE
				LEFT (date, 6) = #{date}
		</if>
		GROUP BY
			customer_name
	</select>

	<!-- 新增照片信息 -->
	<insert id="insertPhotoInfo" parameterType="java.util.Map">
		INSERT INTO photo_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="photoName != null and photoName != ''">
				photo_name,
			</if>
			<if test="remark != null and remark != ''">
				photo_remark,
			</if>
			<if test="photoAlbumId != null and photoAlbumId != ''">
				photo_album_id,
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time,
			</if>
			<if test="photoUrl != null and photoUrl != ''">
				photo_url,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="photoName != null and photoName != ''">
				#{photoName},
			</if>
			<if test="remark != null and remark != ''">
				#{remark},
			</if>
			<if test="photoAlbumId != null and photoAlbumId != ''">
				#{photoAlbumId},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
			<if test="photoUrl != null and photoUrl != ''">
				#{photoUrl},
			</if>
		</trim>
	</insert>

	<insert id="insertPhotoAlbumInfo" parameterType="java.util.Map">
		INSERT INTO photo_album
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="photoAlbumDate != null and photoAlbumDate != ''">
				photo_album_date,
			</if>
			<if test="photoAlbumUrl != null and photoAlbumUrl != ''">
				photo_album_url,
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="photoAlbumDate != null and photoAlbumDate != ''">
				#{photoAlbumDate},
			</if>
			<if test="photoAlbumUrl != null and photoAlbumUrl != ''">
				#{photoAlbumUrl},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
		</trim>
	</insert>

	<!--<insert id="insertCustomer" parameterType="java.util.Map">
		INSERT INTO t_customers
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerName != null and customerName != ''">
				customer_name,
			</if>
			<if test="customerAddress != null and customerAddress != ''">
				customer_address,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="customerName != null and customerName != ''">
				#{customerName},
			</if>
			<if test="customerAddress != null and customerAddress != ''">
				#{customerAddress},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>-->

	<insert id="insertCustomer" parameterType="java.util.Map">
		INSERT INTO t_customers (customer_name, customer_address, update_time, create_time) VALUES (#{customerName}, #{customerAddress}, #{updateTime}, #{createTime})
	</insert>

	<!-- 查询相册和相关信息 -->
	<select id="getPhotoAlbumInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			id,
			photo_album_date AS photoAlbumDate,
			photo_album_url AS photoAlbumUrl
		FROM
			photo_album
		WHERE
			is_del = 0
		<if test="dateYear != null and dateYear != ''">
			AND
				LEFT(photo_album_date, 4) = #{dateYear}
		</if>
        ORDER BY photo_album_date
	</select>

	<!-- 查询照片和相关信息 -->
	<select id="getPhotoInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			id,
			photo_name AS photoName,
			photo_remark AS photoRemark,
			photo_url AS photoUrl
		FROM
			photo_information
		WHERE
			is_del = 0
		<if test="photoAlbumId != null and photoAlbumId != ''">
			AND
                photo_album_id = #{photoAlbumId}
		</if>
	</select>
</mapper>