<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwi.hushang_ayi.mapper.GongZiMapper">

	<select id="getGongZiByMonth" parameterType="integer" resultType="Map">
		SELECT * FROM gongzi WHERE gongzi_time = #{date}
		ORDER BY gongzi_time
	</select>
	
	<!--<select id="getZhiChuByMonthDay" parameterType="integer" resultType="Map">
		SELECT * FROM zhichu WHERE zhichu_time = #{date}
	</select>-->

	<select id="getGongZiByMonthEcharts" parameterType="integer" resultType="Map">
		SELECT gongzi_money, gongzi_time FROM gongzi WHERE gongzi_time = #{date};
	</select>

	<insert id="insertGongZiData" parameterType="Map">
		INSERT INTO gongzi
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="gongzi_id != null and gongzi_id != ''">
				gongzi_id,
			</if>
			<if test="gongzi_name != null and gongzi_name != ''">
				gongzi_name,
			</if>
			<if test="gongzi_money != null and gongzi_money != ''">
				gongzi_money,
			</if>
			<if test="gongzi_remark != null and gongzi_remark != ''">
				gongzi_remark,
			</if>
			<if test="gongzi_time != null and gongzi_time != ''">
				gongzi_time,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="gongzi_id != null and gongzi_id != ''">
				#{gongzi_id},
			</if>
			<if test="gongzi_name != null and gongzi_name != ''">
				#{gongzi_name},
			</if>
			<if test="gongzi_money != null and gongzi_money != ''">
				#{gongzi_money},
			</if>
			<if test="gongzi_remark != null and gongzi_remark != ''">
				#{gongzi_remark},
			</if>
			<if test="gongzi_time != null and gongzi_time != ''">
				#{gongzi_time},
			</if>
		</trim>
	</insert>

	<select id="getGZCountByYM" parameterType="Map" resultType="Map">
		SELECT SUM(gongzi_money) AS gongZiCount FROM gongzi WHERE gongzi_time = #{dateYMD}
	</select>
</mapper>