<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwi.hushang_ayi.mapper.OnePieceMapper">

	<insert id="insertOnePieceData" parameterType="java.util.Map">
		INSERT INTO one_piece
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="customerName != null and customerName != ''">
				customer_name,
			</if>
			<if test="goodsName != null and goodsName != ''">
				goods_name,
			</if>
			<if test="profit != null and profit != ''">
				profit,
			</if>
			<if test="dateYearMonthDay != null and dateYearMonthDay != ''">
				`date`,
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_Time,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="customerName != null and customerName != ''">
				#{customerName},
			</if>
			<if test="goodsName != null and goodsName != ''">
				#{goodsName},
			</if>
			<if test="profit != null and profit != ''">
				#{profit},
			</if>
			<if test="dateYearMonthDay != null and dateYearMonthDay != ''">
				#{dateYearMonthDay},
			</if>
			<if test="updateTime != null and updateTime != ''">
				#{updateTime},
			</if>
		</trim>
	</insert>

	<select id="getOnePieceDataByYearMonth" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT customer_name, goods_name, profit, `date`
		FROM one_piece
		WHERE LEFT(`date`, 6) = #{dateYearMonth}
		ORDER BY `date`
	</select>

	<select id="getOnePieceDataByYear" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT SUM(profit) AS profit, LEFT(`date`, 6) AS date
		FROM one_piece
		WHERE LEFT(`date`, 4) = #{dateYear}
		GROUP BY LEFT(`date`, 6)
		ORDER BY `date`
	</select>

	<select id="getOnePieceEChartsByYearMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(profit) AS profit, `date`
		FROM one_piece
		<if test="dateYearMonth != null and dateYearMonth != ''">
			WHERE LEFT(`date`, 6) = #{dateYearMonth}
		</if>
		GROUP BY `date`
		ORDER BY `date`
	</select>

	<select id="getOnePieceCountByYear" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SUM(profit) AS profit
		FROM one_piece
		<if test="dateYear != null and dateYear != ''">
			WHERE LEFT(`date`, 4) = #{dateYear}
		</if>
	</select>

</mapper>