<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwi.hushang_ayi.mapper.ZhiChuMapper">

	<select id="getZhiChuByMonth" parameterType="integer" resultType="Map">
		SELECT * FROM zhichu WHERE LEFT(zhichu_time, 6) = #{date}
		ORDER BY zhichu_time
	</select>

	<select id="getZhiChuByYear" parameterType="integer" resultType="Map">
		SELECT SUM(zhichu_money) AS zhichu_money, LEFT(zhichu_time,6) AS zhichu_time
		FROM zhichu
		WHERE LEFT(zhichu_time, 4) = #{date}
		GROUP BY LEFT(zhichu_time,6)
		ORDER BY zhichu_time
	</select>

	<select id="getZhiChuByMonthEcharts" parameterType="integer" resultType="Map">
		SELECT SUM(zhichu_money) AS zhichu_money, zhichu_time FROM zhichu WHERE LEFT(zhichu_time,6) = #{date} GROUP BY zhichu_time;
	</select>

	<insert id="insertZhiChuData" parameterType="Map">
		INSERT INTO zhichu (zhichu_name, zhichu_money, zhichu_time)
		VALUES (#{zhiChuType}, #{zhiChuData}, #{zhiChuTime})
	</insert>

	<select id="getZCCountByYear" parameterType="Map" resultType="Map">
		SELECT SUM(zhichu_money)AS zhiChuCount FROM zhichu WHERE LEFT(zhichu_time, 4) = #{date}
	</select>

	<select id="getZCCountByYM" parameterType="Map" resultType="Map">
		SELECT SUM(zhichu_money)AS zhiChuCount FROM zhichu WHERE LEFT(zhichu_time, 6) = #{date}
	</select>

</mapper>